@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 4px;
    align-items: center;
   
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}
.header{
    border-bottom: 1px solid rgb(120, 118, 118);
}
.logo{
    width: 550px;
    padding: 10px ;
   
}
nav{
    background: #A9E0A2;
    padding: 12px;
}
a{
    text-decoration: none;
    color: black;
}
.box{
    text-align: center;
    padding: 20px;
    
}
.box ul{
    font-size: small;
    color: gray;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;  
  
}
.border{
    border-bottom: 1px solid #A9E0A2;
    padding: 15px;
}
.image{
    width: 100%;
    height: 550px;
}
h1{
    font-size: 3rem;
} 
p{
    color: rgb(98, 98, 98);
}
.line{
    border-bottom: 1px solid rgba(81, 80, 80, 0.544);
}
.grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 10px;
   padding: 10px;
}
.grid img{
   width: 100%;
    height: auto;
   
}
.sidemg{
    grid-template-columns: 2fr 3fr;
    align-items: center;
}
.sidemg img{
    width: 550px;
    height: 300px;
    object-fit: cover;
}
.sidemg ul{
    gap: 15px;
    display: flex;
    color: gray;

}
.newgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
